*{
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    overflow-x: hidden;
}
body {
    font-family: Helvetica;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 36px;
}

/* Navbar */
.navbar-brand {
    width: 100px;
    height: 34px;
}
.off-navbar {
    width: 50%;
}
/* Color */
.darkBlue {
    color: #0D28A6;
}
.bgdarkBlue {
    background-color: #0D28A6;
}
.purpleNude{
    color: #cfd4ed;
}
.bg{
    background-color: #F1F3FF;
}
/* Home */
.img_car{
    margin-left:  15px;
}
.kolom1{
    padding-left: 9%;
    padding-top: 9%;
}
.kolom1 p{
    margin-right: 15%;
}
/* Why Us */
.card-title{
    font-weight: bold;  
}
/* Getting Starter */
.gettingstar{
    margin-top: 100px;
    padding: 74px 0 74px 0;
    border-radius: 13px;
    background-color: rgba(13, 40, 166, 1);
}
/* Testimonial */
.item {
    width: 100%;
    background-color: rgba(241, 243, 255, 1);
}
.card-left {
    width: 50%;
    height: 50%;
    margin: 50px 10px;
}

.card-right {
    text-align: justify;
    font-size: 12px;
    padding: 50px 30px 0 20px;
}

.card-right i {
    color: gold;
    padding-bottom: 10px;
}

.Testimonial-tittle {
    text-align: center;
    padding-top:100px ;
}

.owl-carousel .card-body{
    display: flex;
}
/* FAQ */
.accordion .card-header{
    font-family: Helvetica;
    font-size: 14px;
}
.accordion .card-header::after{
	font-family: 'FontAwesome';
	content: "\f077";
	float: right;
}

.accordion .card-header.collapsed::after{
	content: "\f078";
}
.accordion .card-block .card-body{
    font-size: 14px;
}
/* Footer */
.list-footer {
    list-style: none;
    padding-left: 0;
}

.list-footer li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.list-footer li a {
    text-decoration: none;
    color: #151515;
} 

/* Mobile */
@media (min-width: 320px) and (max-width: 576px) {
    html {
        overflow-x: hidden;
    }
    /* Navbar */
    .navbar-collapse{
        display: block;
    }

    /* testimonial */
    .item {
        width: 95%;
        margin-left: 3%;
    }

    .card-left {
        width: 30%;
        margin: 30px 35%;
    }
    
    .card-right {
        font-size: 12px;
        padding: 0 20px 30px 20px;
    }
    
    .card-right i {
        color: gold;
        text-align: center;
    }
    
    .faq-icon {
        text-align: center;
        padding-bottom: 20px;
    }

    .Testimonial-tittle {
        text-align: center;
        padding-top: 50px;
    }
    
    .owl-carousel .card-body{
        display: block;
    }
    /* Why-us */
    .card{
        margin-top: 15px;
    }
    /* Getting Starter */
    .gettingstar{
        margin-top: 50px;
        padding: 64px 0 64px 0;
    }
}